body {
    background-color: #BEFCF2;
}

/* H1 of the page */

.toallthesections {
    margin: auto;
  /* width: 100%; */
  height: auto;
  margin-left: auto;
     margin-right: auto;
} 

.first {
    width: 100%;
     max-width: 1280px; 
     margin: 0px auto;
     
}

.imageP {
    height: 7%;
     width: 7%;
     display: block;
     margin-left: auto;
     margin-right: auto;
  /* width: 40%; */
}

.textOne {
    width: 100%;
    height: auto;
    color: #353535;
    font-family: balboa-plus-fill, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.4em;
    background-color: whitesmoke;
    margin: 15px 25px 50px;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.Boton1 {
    width:25%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.Boton2 {
    width:25%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.Boton3 {
    width:25%;
    height: auto;
    margin-left: auto;
     margin-right: auto;
     text-align: center;
}

.btn {
    height: 10%;
    border: none;
    background-color: #BEFCF2;
    margin: 15px 25px 50px;
    font-size: 1em;
    font-weight: lighter;
    cursor: pointer;

    
}
.boxcontainer {
    width: 50%;
    height: auto;
    margin-left: auto;
   margin-right: auto;
}

.boxPokemon {
    width:auto;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding:2%;
    border-radius: 114px;
    font-size: 1em;
    font-family: Helvetica, sans-serif;
    color: #4a4a4a;
    box-shadow: 0px 1px 15px #666;
    box-lines: single;  
    font-weight: lighter;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.col-1{width: 8.333333333333332%;}
.col-2{width: 16.666666666666664%;}
.col-3{width: 25%;}
.col-4{width: 33.33333333333333%;}
.col-5{width: 41.66666666666667%;}
.col-6{width: 50%;}
.col-7{width: 58.333333333333336%;}
.col-8{width: 66.66666666666666%;}
.col-9{width: 75%;}
.col-10{width: 83.33333333333334%;}
.col-11{width: 91.66666666666666%;}
.col-12{width: 100%;}