body {
  background-color: #BEFCF2;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: #BEFCF2; */
    font-family: Helvetica, sans-serif;
  }

  .one{
    /* background-color: whitesmoke; */
    float: left;
  }

  .menubutton{
    
  
  }

  .boton{
    background:#BEFCF2;
    height: 10%;
     border: none;
     margin: 15px 25px 50px;
    font-size: 1em;
    font-weight: lighter;
    cursor: pointer;
    padding: 10%;
    content: normal;
    border-radius: 114px;
    align-content: center;
  }

  .row{
    margin: auto;
    width: 100%;
    height: auto;
  }

  .row:before, .row:after{
    content:"";
    display:table;
  }
  .row:after{
    clear:both;
  }
  [class*= "col-" ]{
    float: left;
    min-height: 10px;
    padding: 12px;
  }


  .col-1{width: 8.333333333333332%;}
  .col-2{width: 16.666666666666664%;}
  .col-3{width: 25%;}
  .col-4{width: 33.33333333333333%;}
  .col-5{width: 41.66666666666667%;}
  .col-6{width: 50%;}
  .col-7{width: 58.333333333333336%;}
  .col-8{width: 66.66666666666666%;}
  .col-9{width: 75%;}
  .col-10{width: 83.33333333333334%;}
  .col-11{width: 91.66666666666666%;}
  .col-12{width: 100%;}

.image {
  text-align:center
}

.imageP {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
    }

.textOne {
    width: 100%;
    height: auto;
    color: #353535;
    font-family: balboa-plus-fill, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.4em;
    background-color: whitesmoke;
    margin: 15px 25px 50px;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}


.p1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80%;
  font-weight: bold;
  color: #B1B1B1;
}

.p2{
  font-weight: bold;
  color:#838181;
  font-size: 130%;

}

.box {
    /* box-shadow: 15 px 15 px 130 px #666; */
    font-family: Helvetica, sans-serif;
    box-lines: single;  
    font-weight: lighter; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 70px 70px 70px 70px;  
    /* position: absolute; */
    top: auto;
     left: auto;
     width: 30em;
     height: 20em;
    
}

/* div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a:hover {
  background-color: #777;
}
 */




 @media screen and (max-width: 778px){
    .box{
      width: 100%;
      }
    .menubutton{
      width: 100%;
    }
    }
    
    .wrap{
      width: 90%;
      max-width: 1000px;
      
     }
     
     .widget{
      width: 40%;
      margin: 2em;
      
      /*margin:32px;*/
     }
     
     .widget p {
      display: inline-block;
      line-height: 1em;
      
     }
     
     .fecha {
      font-family: balboa-plus-fill, sans-serif;
      text-align: center;
      font-size: auto;
      margin-bottom: 5px;
      background: floralwhite;
      padding: 20px;
      width: 100%;
    
     }
     
     .reloj{
      font-family: balboa-plus-fill, sans-serif;
      width: 100%;
      padding: 20px;
      font-size: auto;
      text-align: center;
      background: floralwhite;
      font-weight: bolder;
   
     }
     
     .reloj .caja-segundos{
      display: inline-block;
     
      
     }
     
     .reloj .segundos, .reloj .ampm{
      font-size: auto;
      display: block;
     }